#canvas {
    width: 800px;
    height: 600px;
}

#container {
    display: flex;
    flex-direction: row;
}

#btnContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    height: 200px;
    justify-content: space-between;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #4CAF50; /* Green border */
    color: #4CAF50; /* Green text */
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  button:active {
    background-color: #3e8e41; /* Darker green */
    color: white;
  }